body {
	background: #f9e933;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
}

header h1 {
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px;
}

main {
	background: white;
	overflow: auto;
}

main .container-left {
	float: left;
	width: 570px;
}

main .container-right {
	float: right;
	width: 285px;
}

header {
	overflow: auto;
}
footer .sitemap{
	float:right;
	width: 285px;
}

footer .contact {
	float:left;
	width: 570px;
}

h1, h2, h3, h4 {
	font-size: 100%;
	font-family: 'Ubuntu', sans-serif;
}

h5, li, p, a {
	font-size: 100%;
	font-family: 'Droid Sans', sans-serif;
}

a{
	color: red;
	text-decoration: none;
}
a:hover{
	text-decoration: underline
}